:root{
    --color-primary: #24282b;
    --color-secundary: #1293d4;
    --color-btn: #e8491d;
    --color-aside: #35424a;
}


*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: arial, tahoma;
}

/*----header----*/
.header{
    background: var(--color-primary);
    
}

.header-nav{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 5px var(--color-secundary);
    
    

}
.header-logo{
    line-height: 80px;
    color: white;
}

.header-navBar{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header-navBar__link{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 80px;
    color: white;
}

/*---sub header---*/
.banner-img{
    background: url("../img/cabecera.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#boletin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    line-height: 80px;
    color: white;
    font-size: 25px;
}

button{
    padding: 10px 20px;
    background-color: var(--color-btn);
    color: white;
}
.input-prin{
    padding: 10px 20px 10px 0;
    width: 300px;
}

/*---main---*/
#tec{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    
}
.tec__card{
    text-align: center;
    margin: 20px 10px;
}
.tec__card img{
    width: 100px;
}
/*footer*/
footer{
    background-color: var(--color-secundary);
    color: white;
    text-align: center;
    line-height: 80px;
}

/*modificaciones*/
.active{
    color: var(--color-secundary);
}

/*vista nosotors*/
main section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 80%;
    margin: 20px auto;

}
main section p{
    margin-top: 10px;
}
main section img{
    margin-top: 10px;
}

.nosotros p:nth-child(3){
    background-color: var(--color-aside);
    padding: 10px;
    color: white;
}

main aside{
    background-color: var(--color-aside);
    padding: 20px;
    color: white;
    height: fit-content;
}

/*vista servicios*/
.servicio__card{
    margin: 10px 0;
    background-color: #e6e6e6;
    padding: 20px;
}

/*vista contacto*/
.contacto__input{
    width: 100%;
    border: 0.5px solid gray;
    padding: 10px 20px 10px 5px;
}
.contacto__label{
    display: block;
    margin: 20px 0;
}
textarea{
    width: 100%;
    border: 0.5px solid gray;
}